
.buttonslist  > .ui-block-a, .buttonslist > .ui-block-b {
    width: 33.33%;
}
.navigation-second{
 height: 34px;
    padding-top: 2px;

}
/*.ui-controlgroup-horizontal a.ui-btnsmall{width:0.7 em!important;}*/

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext, 
.ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
    width: 0.7em!important;
}

/*buttons.html page css */
.bigbtn button{padding:30px 10px;}

.secondblock-price{clear:both;}
.secondblock-price label{
    display: block;
    float: left;
    text-align: right;
    width: 31%;}

.secondblock-price div{float:left!important;width:60%!important;}
/*eof buttons.html page css */

#mainbody{padding:0;}
.footerbuttons button{background-color:#727272;border:1px solid #4f4f4f;}
#mainbody button{margin:0;border-radius:0;border:1px solid #1e73ac;}

.userdetail {background-color:#414141!important;border-bottom:4px solid #333333;}
.userdetail span.price{  float: right !important;
    padding-right: 20px;
    text-align: right;}

.adduser a.ui-icon-user::after {left:42%!important;top:42%!important;background-image:url("./images/adduser.png")!important;
background-size:30px!important;
height:30px!important;width:30px!important;}
.bigbtn button{height: 83px;}
.userdetail span{
    display: inline-block;
    font-size: 1em;
    min-height: 1.1em;
    outline: 0 none !important;
    overflow: hidden;
    padding: 0.7em 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    float:left!important;text-align:left!important;padding-left:10px;}
    .ui-grid-b.bigbtn button{border-right: none!important;border-bottom: none!important}

/* buttons css */
.btn-blue{background: #3e80bd none repeat scroll 0 0!important;
    border-color: #4C8DC9!important;
    color: #fff;}
	.btn-grey{background: #515151 none repeat scroll 0 0!important;
    border-color: #8E8B8B!important;
    color: #fff;}
	.btn-green{background: #15ab16 none repeat scroll 0 0!important;
    border-color: #63DA66!important;
    color: #fff;}
	.btn-red{background: #bf0f11 none repeat scroll 0 0!important;
    border-color: #EB9A9A!important;
    color: #fff;}
	
	.btn-yellow{background: #d4d12a none repeat scroll 0 0!important;
    border: 1px solid #fffe81 !important;
    color: #fff;}
	
	.btn-cream{background: #c7893c none repeat scroll 0 0!important;
    border-color: #E8B675!important;
    color: #fff;}
	
	.btn-orange{background: #e66d04 none repeat scroll 0 0!important;
    border-color: #FFBC82!important;
    color: #fff;}
	
	.btn-violet{background: #c42cf9 none repeat scroll 0 0!important;
    border-color: #D991F2!important;
    color: #fff;}
	
	.buttongroups div{background-color:#222629;border:1px solid #060709;}
	
	.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}

.halfcenter{ padding: 10px 30%;}

/*gradient buttons  refer this site for other buttons http://css3buttongenerator.com/  */



.btn-blue-grad {
  background: #3498db!important;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9)!important;
  background-image: -moz-linear-gradient(top, #3498db, #2980b9)!important;
  background-image: -ms-linear-gradient(top, #3498db, #2980b9)!important;
  background-image: -o-linear-gradient(top, #3498db, #2980b9)!important;
  background-image: linear-gradient(to bottom, #3498db, #2980b9)!important;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
}

.btn-blue-grad:hover {
  background: #3cb0fd!important;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db)!important;
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db)!important;
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db)!important;
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db)!important;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db)!important;
  text-decoration: none;
}



 .CSSTableGenerator {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
  
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#8fadd3; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{
  vertical-align:middle; 
  
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:15px;
  font-size:13px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.CSSTableGenerator tr:last-child td{
  border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
  border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr.highlight td{
    background:-o-linear-gradient(bottom, #616161 5%, #616161 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
  background:-moz-linear-gradient( center top, #616161 5%, #616161 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#616161", endColorstr="#616161");  background: -o-linear-gradient(top,#616161,007fff);

  background-color:#616161;
  border:0px solid #000000;
  text-align:left;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}

.CSSTableGenerator tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #616161 5%, #616161 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #616161) );
  background:-moz-linear-gradient( center top, #616161 5%, #616161 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#616161", endColorstr="#616161");  background: -o-linear-gradient(top,#616161,007fff);

  background-color:#616161;
}
.CSSTableGenerator tr:first-child td:first-child{
  /*border-width:0px 0px 1px 0px; */
}
.CSSTableGenerator tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.error{background: rgba(234, 0, 0, 0.12)!important;}